*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    list-style-type: none;
}
h1{
    font-size: 65px;
}
h2{
    font-size: 45px;
    font-weight: 700;
}
h4{
    font-size: 20px;
}
small{
    font-size: 20px;
}
p{
    font-size: 16px;
    color: #727272;
}
span{
    color: #FF900E;
}
.text-gray{
    color: #727272;
}
.primary-btn{
    color: #fff;
    background-color: #FF900E;
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
}
.container{
    max-width: 1440px;
    margin: auto;
}
/* header section start here  */
header{
    background-color: #FFF4E7;
}

/* nav section start here  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}
nav li{
    display: inline;
    padding-left: 30px;
}
nav a{
    color: #727272;
}

/* .heading section start here  */
.heading{
    max-width: 900px;
    margin: auto;
    text-align: center;
}
.heading p{
    padding: 30px 0;
}
header img{
    margin: 30px 0;
}
/* our-features section start here  */
.our-features{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px;
}
.our-features > div{
    flex: 1;
}
.img-collage{
    display: flex;
}
.img-collage img{
    max-width: 342px;
    margin: 24px;
}
.features-discription{
    margin: 30px;
}
.features-discription p{
    padding: 32px 0;
}
/* features-you-will section start here  */
.features-you-will{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
    margin: 100px 0;
    position: relative;
}
.architect-btn {
    position: absolute;
    bottom: -45px;
    left: 45%;
    padding: 40px 30px;
}
.features-you-will section{
    flex: 1;
}
.first-div p{
    padding: 30px 0;
}
.first-div h2{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.common-div{
    box-sizing: border-box;
    padding: 25px;
    margin: 20px;
    box-shadow: 5px 5px 15px #ebebeb, -5px -5px 15px #ebebeb;
}
.common-div p{
    padding-top: 20px;
}
/* some fact section start here  */
.some-fact{
    padding: 100px 0;
}
.some-fact_divs{
    padding: 100px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.some-fact_div{
    padding: 30px;
    border: 2px solid #FF900E;
    border-radius: 5px;
}
.some-fact_div h2{
    padding: 10px 0;
}
.some-fact_head p{
    padding: 50px 0;
}
/* our sponsors section start here  */
.our-sponsors{
    text-align: center;
}
.our-sponsors p{
    padding: 50px;
}
.sponsors{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sponsors img{
    filter: grayscale(100%);
}
/* footer section start here  */
footer{
    background-color: #FFF4E7;
    text-align: center;
    margin: 200px auto 250px auto;
    max-width: 1440px;
}
footer p{
    padding: 30px;
}